# Virtual environments and dependencies
.venv/
env/
venv/
ENV/

# System, Python cache, and compiled bytecode
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# Secrets and environment variables
*.env
.env